
    <div class="about-container">
        <h2>
            About me 
        </h2>
      
        <div class="about-content">
        <div class="about-left">
            <img src="about.gif" alt="nividita">
        </div>
        <div class="about-right">
               
                <ul>
                    <li>
                        🎯 Always eager to learn new frameworks.
                    </li>
                               <li>💡 Passionate about creating seamless, interactive user experiences that drive business success.</li>
                        <li>🚀 Always exploring new technologies to stay ahead and deliver innovative solutions.</li>
                        <li>🔧 Focused on enhancing web performance to ensure efficiency and scalability.</li>
                        <li>🎨 Love blending creativity with business objectives to build solutions that help achieve long-term goals.</li>
                    </ul>
            </div>
        </div>
        </div>
        
