.about-container{
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color:whitesmoke;
    align-items: center;
    text-align: center;
}

.about-container h2{
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  color:aqua;
  text-shadow: 2px 2px 10px rgba(173, 18, 124, 0.8);
  border-bottom: 2px solid aqua;
  margin-bottom: 20px;
  margin-top: 10px;
  

}
.about-container h2:hover {
    border-bottom: 5px double #ff69b4;
}
.about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    
}
.about-left  img{
    height: 550px;
    width: 500px;
    border-radius: 50%;
    margin-left: 0px;
    background:linear-gradient(135deg, #003366, #336699);
    transition: box-shadow 0.3 ease,transform 0.3 ease;
}
.about-left img:hover{
    box-shadow: 0 0 10px rgb(230, 30, 167);
    transform: scale(1.05);
}
.about-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
    line-height: 2;
    max-width: 600px;
    font-size:larger;
    font-family: cursive;
}
.about-right p{
    margin-bottom: 20px;
    margin-right: 3px;
}

.about-right ul{
    list-style-type: none;
    padding: 0;
}
.about-right ul li{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
