<section id="projects">
    <h2>
        My Projects
    </h2>
    <div class="projects-container">
        <div class="project-card">
            <img src="proj1coffee.png" alt="project 1">
            <div class="project-info">
                <h3>
                    CoffeeBliss
                </h3>
                <p>
                    <strong>Description:</strong> CoffeeBliss is a modern, interactive web application designed for coffee enthusiasts, offering a seamless online coffee shop experience. 
                </p>
                <a href="https://coffeeblisss.netlify.app/" class="btn">View Project</a>
                <a href="https://github.com/Nividita/giftapp" class="btn">View on GitHub</a>
                </div>
                </div>
                <div class="project-card">
                    <img src="proj2g.png" alt="project2">
                    <div class="project-info">
                <h3>UnboxSurprise</h3> 
                <p><strong>Description:</strong> UnboxSurprise is a dynamic gift-giving web application that allows users to select and personalize gift hampers for various occasions, such as birthdays, and other special events..</p>
                <a href="https://unboxsurprise.netlify.app/" class="btn">View Project</a>
                <a href="https://github.com/Nividita/giftapp" class="btn">View on GitHub</a>
               
</div>

            </div>
            <div class="project-card">
                <img src="proj3m.png" alt="proj3">
                <div class="project-info">
                    <h3>
                        Mickey love
                    </h3>
                    <p>
                        Mickey Love is a single-page Angular web application designed to showcase the concept of data binding in Angular. The app allows users to interact with the content in a simple and intuitive way..
                    </p>
                    <a href="https://mickey2.netlify.app/" class="btn">View Project</a>
                    <a href="https://github.com/Nividita/giftapp" class="btn">View on GitHub</a>
                </div>
            </div>
      
    </div>
</section>