<section id="contact">
    <div class="contact-container">
        <h2>
            Contact Me
        </h2>
        <p>
            I'm always open to new opportunities, collaborations, and discussions.<br> Feel free to reach out to me  through my social media channels!
        </p>
        <div class="form">
        <p >
            <label for="name">Your Name:</label>
            <input type="text" id="name" placeholder="Your name" >
            <br>
          <label for="email">Your Email:</label>
          <input type="email" id="email" placeholder="Your email" >
          <br>
          <label for="phoneno">Your Contact no :</label>
          <input type="tel" id="phoneno" placeholder="Your contact no" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Phone number should be in the format XXX-XXX-XXXX">
        </p>
        <button type="submit">Send Message</button>
    </div>
        <div class="contact-details">
            <div class="social-icons">
                <h3>
                    Connect With Me
                    </h3>
                <a href="https://www.linkedin.com/in/nividita-bire" target="_blank">
                    <img src="https://img.icons8.com/?size=128&id=44019&format=png"  alt="linkedin"  width="40"  height="40"/>
                </a>
     <a href="https://github.com/Nividita" target="_blank">
        <img src="https://img.icons8.com/?size=128&id=52539&format=png" alt="github" width="40" height="40">
     </a>
     <a href="mailto:nividitabire@gmail.com" target="_blank">
        <img src="https://img.icons8.com/?size=128&id=WrQ9HkdSiFpM&format=png" alt="email" width="40" height="40">
     </a>
                </div>
                </div>
                     
 
    </div>
</section>

                