

<div class="banner">
    <h2>
        Hi ,I'm <span>
            Nividita
        </span>
        <br>
        Full Stact .NET Developer
    </h2>
    <p>
        I'm a web developer passionate about interactive and creative designs. Skilled in C, C#,
         and Angular, I love building unique web experiences with animations, neon effects, and dynamic layouts.Currently exploring .NET development to expand my expertise. Always eager to learn, experiment, and create something innovative! 🚀
   </p>
    <div class="buttons">
       <a href="Nividita_fullstack.pdf" download>
        <button>
            Download my Resume</button>
            </a>
            <a routerLink="/contact" >
        <button>Contact me </button>
        </a>
    </div>
    </div>

